body{
  background-color: #292929;
  font-family: roboto, sans-serif;
  font-size: 1.1em;
  color: white;
}
input{
  font-size: 1.2em;
  margin: 2px 8px;
  padding: 4px 16px;
  border-radius: 8px;
  cursor: pointer;
}
input[type=text]{  
  background-color: rgb(39, 66, 90);
  opacity: 0.8;
}
input[type=text]:hover, input[type=text]:active{
  opacity: 1;
}
input[type=submit]{
  background-color: rgb(122, 165, 203);
}
input[type=submit]:hover, input[type=submit]:active{
  background-color: rgb(170, 209, 244);
}
#result{
  border: 1px dashed rgba(255, 255, 255, 0.64); 
}
h3, p{
  margin-left: 20px;
}
li{
  padding: 4px; 
}
strong{
  text-transform: capitalize; 
}